@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --white: #fff;
  --black: #111;
  --pink:#ca2c92;
  --grey:#888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;

}

[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

[data-theme="light"] {
  --white: #111;
  --black: #fff;
  --grey: #888;
  --darkgrey: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: var(--white);
  background: var(--pink);
}

a{
  text-decoration: none;
}

.grey-wrapper{
  background-color: var(--darkgrey);
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }

  a:visited {color:var(--white);}